<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>Customers</h3>
  <%= render "shared/buttons/new_button", model: Customer %> 
</div>
<%= render "customer_list", customers: @customers %>