<div class="container mt-3">
  
  <h3>Customer Details</h3>
  <%= render "customer" %>

  <h3>Orders</h3>
  <%= render "orders/order_list", orders: @customer.orders %>

  <%= render "shared/buttons/back_button", object: @customer %>

</div>
