<div class="d-flex justify-content-between align-items-center mb-3">
  <h3>Orders</h3>
  <%= render "shared/buttons/new_button", model: Order %> 
</div>
<div class="row">
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>
