<% if object.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(object.errors.count, "error") %> prohibited this order from being saved:</h4>
        <ul>
        <% object.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
        </ul>
    </div>
<% end %>