
@import "bootstrap";

:root {
  --bs-body-bg: #e7a3f0;
}

// custom font config
@font-face {
  font-family: "Mooli-Regular";
  src: url("Mooli-Regular.ttf") format('truetype');
}


.banner-background {
  background-image: url(asset_path('banner.jpg'));
  background-size: cover;
  background-position: right;
  font-family: "Mooli-Regular", sans-serif;
}